:root {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    background-color: hsl(244, 46%, 33%);
    position: relative;
    top: 20vh;
}
.left {
    width: 50%;
    height: 100%;
    display: flexbox;
}
h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight:700;
    margin-left: 12%;
    margin-right: 15%;
    margin-bottom: 2rem;
    margin-top: 13%;
    font-size: 33px;
}
h1 > span {
    color: hsl(277, 64%, 61%);
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0 18% 4rem 12%;
}
ul {
    width: 70%;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-left: 12%;
    margin-right: 18%;
    margin-bottom: 12%;
}
ul > li {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.stats {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.right{
    width: 50%;
    height: 100%;
    background-image: url(./images/image-header-desktop.jpg);
    display: flexbox;
}
.overlay {
    width: 100%;
    height: 100%;
    background: hsla(277, 64%, 61%, 0.6);
    overflow:hidden;
}
@media only screen and (max-width: 700px) {
    body {
        flex-direction: column-reverse;
    }
    main {
        width: 90%;
        height: max-content;
        flex-direction: column;
        margin-bottom: 250px;
        top: 150px;
    }
    .right{
        position: absolute;
        width: 100%;
        height: 425px;
        background: url(./images/image-header-mobile.jpg) no-repeat;
        background-size: contain;
        content: "";
    }
    .left {
        width: 100%;
        z-index: 1;
        background-color: hsl(245, 55%, 23%);
        position: relative;
        top: 425px;
        height: 580px;
    }
    h1,
    p {
        text-align: center;
    }
    ul {
        width: 100fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    ul > li {
        display: flexbox;
        margin-bottom: 3em;
        text-align: center;
    }
    footer {
        height: 160px;
        background-color: hsl(233, 47%, 7%);
        position: absolute;
        top: 1155px;
    }
}